/* LINKS */
a {
  color: DarkBlue;
  text-decoration: none;
  }

a:hover {
  color: Blue;
  }

#nav-bar {
  position: fixed;
  letter-spacing: 0.3em;
  background-color: lightblue;
  height: 30px;
  width: 100%;
  line-height: 30px;
  }

button {
  float: right;
  padding: 3px 10px;
  font-family: Arial;
  font-size: 15px;
  color: DarkBlue;
  text-decoration: none;
  }

button:hover {
  color: Blue;
  }

#button {
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: 4px 10px;
  font-size: 15px;
  float: right;
  }

#button:hover {
  background-color: Gainsboro;
  }

/* HEADERS */
#header-text {
  color: DarkBlue;
  font-size: 100px;
  font-weight: bold;
  text-align: center !important;
  padding: 0px;
  }

#center {
  text-align: center !important;
  }

.sub-headings {
  color: DarkBlue;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial;
  }

h1 {
  text-align: center;
  padding: 40px;
  font-size: 40px;
  }

.h3 {
  color: DarkBlue;
  font-size: 30px;
  }

.add {
  margin: 0px 10px 12px 12px;
  font-size: 20px;
  font-family: Arial;
  }

.trip_planning {
  text-decoration: underline;
  }

/* BODY */
body {
  margin-left: 0px;
  margin-right: 5px;
  }

div {
  margin-left: 5px;
  margin-right: 5px
  }

.content {
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Arial;
  }

.recommendations {
  flex: 20%;
  padding: 10px;
  margin: 5px;
  background-color: #f3f3f3;
  inline-size: 100%;
  }

.plan_trip {
  flex: 10%;
  padding: 5px;
  margin: 5px;
  background-color: #f3f3f3;
  inline-size: 100%;
  text-align: center;
  }

#recommendations_title {
  font-size: 20px;
  font-weight: bold;
  }

.listing {
  margin: 0px 10px 12px 12px;
  font-size: 30px;
  font-family: Arial;
  line-height: 2em;
  }

.trip-content {
  display: flex;
  width: 100%;
  margin: 5px;
  font-family: Arial;
  font-size: 20px;
  }

.trip-recommendations-first1 {
  flex: 1;
  margin: 5px;
  margin-right: 650px;
  padding: 5px;
  color: Red;
  font-size: 28px;
  }

.trip-recommendations-second1 {
  flex: 1;
  margin: 5px;
  padding: 5px;
  color: LightCoral;
  font-size: 28px;
  }

.trip-recommendations-first2 {
  flex: 1;
  margin: 5px;
  margin-right: 650px;
  padding: 5px;
  color: DarkViolet;
  }

.trip-recommendations-second2 {
  flex: 1;
  margin: 5px;
  background-color: LemonChiffon;
  color: DarkSlateGrey;
  padding: 5px;
  }

.trip-recommendations-first3 {
  flex: 1;
  margin: 5px;
  margin-right: 650px;
  padding: 5px;
  font-size: 25px;
  }

.trip-recommendations-second3 {
  flex: 1;
  margin: 5px;
  padding: 5px;
  text-align: right;
  font-size: 25px;
  }

.trip-bold {
  font-weight: bold;
  }


/* FORMS */
.recommendation_form {
  margin: 10px 10px 10px 20px;
  font-size: 20px;
  font-family: Arial;
  }

.input {
  width: 200px;
  height: 20px;
  }

.form_padding {padding: 10px;}

#submit_button {
  width: 250px;
  height: 50px;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  float: left;
  }

.box_margin {margin-left: 10px}

.city_padding {
  padding: 5px;
  vertical-align: middle;
  }