{% extends 'base.html' %}

{% block content %}
    <h1 class="sub-headings">{% block title %} Places I've Been {% endblock %}</h1>
    <div class="add">
        <a href="{{ url_for('cities') }}"><h3>Show List of Cities</h3></a>
        <a href="{{ url_for('countries') }}"><h3>Show List of Countries</h3></a>
    </div>
    <div class="content">
        {% for place in places_been %}
            <div class="recommendations">
                <p id="recommendations_title">{{ place.city.title() }}, {{ place.country.title() }}</p>
                <div>
                    <h4>Recommendations:</h4>
                    <p>{{ place.recommendation.capitalize() }}</p>
                </div>
                <div>
                    <h4>Review:</h4>
                    <p>{{ place.review.capitalize() }}</p>
                </div>
                <a href="{{ url_for('review', place_id=place.id) }}" id="button">Add Review</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}