{% extends 'base.html' %}

{% block content %}
    <h1 class="sub-headings">{% block title %} Plan a Trip {% endblock %}</h1>
    <div class="add">
        <a href="{{ url_for('plan_trip') }}"><h3 class="trip_planning">Get Planning</h3></a>
    </div>
    <div class="add">
        <a href="{{ url_for('finalised_trips') }}"><h3 class="trip_planning">See Finalised Trip Itineraries</h3></a>
    </div>
    <div class="add">
        <h3 class="h3">Trip Plans in Progress:</h3>
    </div>
    <div class="content">
        {%for trip in trips %}
            <div class="recommendations">
                <div>
                    <p class="trip-bold">Trip Dates:</p>
                    <p>{{ trip.start_date }} to {{ trip.end_date }}</p>
                    <p class="trip-bold">Trip To:</p>
                    <p>Countries: {{ trip.country }}</p>
                    <p>Cities: {{ trip.city }}</p>
                </div>
                <div>
                    <a href="{{ url_for('trip_planner', trip_id=trip.id) }}" id="button">Continue Planning this Trip</a>
                    <form method="post" action="finalised_trips">
                        <input type="hidden" name="city" value="{{ trip.city }}">
                        <input type="hidden" name="country" value="{{ trip.country }}">
                        <input type="hidden" name="start_date" value="{{ trip.start_date }}">
                        <input type="hidden" name="end_date" value="{{ trip.end_date }}">
                        <input type="hidden" name="budget" value="{{ trip.budget }}">
                        <input type="hidden" name="accomodation" value="{{ trip.accomodation }}">
                        <input type="hidden" name="travel" value="{{ trip.travel }}">
                        <input type="hidden" name="day_overview" value="{{ trip.day_overview }}">
                        <input type="hidden" name="total_cost" value="{{ trip.total_cost }}">
                        <input type="hidden" name="trip_id" value="{{ trip.id }}">
                        <button type="submit">Finalise this Trip</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}